* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #ad0723;
}

h1 {
    text-align: center;
    padding: 30px;
}

.content_wrapper {
    background-color: azure;
    text-align: center;
    height: 40em;
    /* width: 60em; */
    margin-left: 4em;
    margin-right: 4em;
}

.survey_heading {
    padding-top: 1em;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

.form_field {
    padding: 5px;
    margin-top: 10px;
}

